<!-- ==========================================================
     PAPPRITO WEB V2
     Version : 3.0.0
     File : components/navbar.html
========================================================== -->

<header>

    <div class="container">

        <nav class="navbar">

            <!-- LOGO -->
            <a href="index.html" class="logo">

                <img src="assets/images/logo/logo.png" alt="PAPPRITO">

                <span class="logo-text">
                    PAPPRITO
                </span>

            </a>

            <!-- HAMBURGER -->
             
           <button
    id="menuToggle"
    class="menu-toggle"
    type="button"
    aria-label="Open Navigation"
    aria-expanded="false">

    <i class="fas fa-bars"></i>

</button>>

            <!-- MENU -->
            <ul id="navMenu" class="nav-menu">

                <li><a href="index.html">Home</a></li>

                <li><a href="about.html">About</a></li>

                <li><a href="menu.html">Menu</a></li>

                <li><a href="gallery.html">Gallery</a></li>

                <li><a href="branches.html">Branches</a></li>

                <li><a href="reservation.html">Reservation</a></li>

                <li><a href="contact.html">Contact</a></li>

                <li class="mobile-order">

                    <a href="reservation.html" class="nav-order">

                        Order Now

                    </a>

                </li>

            </ul>

        </nav>

    </div>

</header>
