/* ==========================================================
   PAPPRITO WEB V4
   FACEBOOK SECTION
========================================================== */

#facebook-section{
/* ==========================================================
   RESPONSIVE
========================================================== */

@media(max-width:992px){

    #facebook-section{

        padding:70px 0;

    }

    .facebook-wrapper{

        padding:15px;

    }

}

@media(max-width:768px){

    #facebook-section{

        padding:60px 0;

    }

    .facebook-wrapper{

        padding:10px;

        border-radius:18px;

    }

}

@media(max-width:480px){

    #facebook-section{

        padding:50px 0;

    }

    .facebook-wrapper{

        padding:8px;

        border-radius:15px;

    }

}
