/* ==========================================================
   PAPPRITO WEB V3
   File : our-team.css
   Description : Our Team Page
   Version : 3.0.0
========================================================== */
