/* ==========================================================
   PAPPRITO WEB V3
   File        : style.css
   Description : Global Styles
   Version     : 1.0.0
========================================================== */

/* ==========================================================
   RESET
========================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================================
   ROOT VARIABLES
========================================================== */

:root{

    --primary:#D71920;
    --secondary:#FFC107;
    --dark:#111827;
    --light:#FFFFFF;
    --gray:#6B7280;

    --container:1280px;

    --transition:.3s ease;

}

/* ==========================================================
   HTML
========================================================== */

html{

    scroll-behavior:smooth;

}

/* ==========================================================
   BODY
========================================================== */

body{

    font-family:'Poppins',sans-serif;

    background:#ffffff;

    color:#222;

    overflow-x:hidden;

}

/* ==========================================================
   IMAGES
========================================================== */

img{

    display:block;

    width:100%;

}

/* ==========================================================
   LINKS
========================================================== */

a{

    text-decoration:none;

    color:inherit;

}

/* ==========================================================
   LIST
========================================================== */

ul{

    list-style:none;

}

/* ==========================================================
   CONTAINER
========================================================== */

.container{

    width:100%;

    max-width:var(--container);

    margin:auto;

    padding:0 20px;

}
/* ==========================================================
   TOP HEADER
========================================================== */

.top-header{

    background:var(--dark);

    color:var(--light);

    font-size:14px;

}

.top-header .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    min-height:45px;

    gap:20px;

}

.top-header-left,
.top-header-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.top-header-left a,
.top-header-left span,
.top-header-right a{

    display:flex;

    align-items:center;

    gap:8px;

}

.top-header-left a{

    transition:var(--transition);

}

.top-header-left a:hover{

    color:var(--secondary);

}

.top-header-right a{

    width:34px;

    height:34px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:50%;

    transition:var(--transition);

}

.top-header-right a:hover{

    background:var(--primary);

}
